<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Space48_Forms>
            <version>0.1.7</version>
        </Space48_Forms>
    </modules>
    
    <!-- GLOBAL -->
    <global>
        
        <!-- models -->
        <models>
            <!-- model declaration -->
            <space48_forms>
                <class>Space48_Forms_Model</class>
                <resourceModel>space48_forms_resource</resourceModel>
            </space48_forms>
            
            <!-- model resource -->
            <space48_forms_resource>
                <class>Space48_Forms_Model_Resource</class>
                <entities>
                    <!-- form table -->
                    <form>
                        <table>space48_forms_form</table>
                    </form>
                    
                    <!-- fieldset table -->
                    <form_fieldset>
                        <table>space48_forms_form_fieldset</table>
                    </form_fieldset>
                    
                    <!-- form/fieldset index -->
                    <form_fieldset_index>
                        <table>space48_forms_form_fieldset_index</table>
                    </form_fieldset_index>
                    
                    <!-- field table -->
                    <form_fieldset_field>
                        <table>space48_forms_form_fieldset_field</table>
                    </form_fieldset_field>
                    
                    <!-- fieldset/field index -->
                    <form_fieldset_field_index>
                        <table>space48_forms_form_fieldset_field_index</table>
                    </form_fieldset_field_index>
                    
                    <!-- form result table -->
                    <form_result>
                        <table>space48_forms_form_result</table>
                    </form_result>
                    
                    <!-- form result fieldset table -->
                    <form_result_fieldset>
                        <table>space48_forms_form_result_fieldset</table>
                    </form_result_fieldset>
                    
                    <!-- form result fieldset field table -->
                    <form_result_fieldset_field>
                        <table>space48_forms_form_result_fieldset_field</table>
                    </form_result_fieldset_field>
                    
                    <!-- form result fieldset field table -->
                    <process_queue>
                        <table>space48_forms_process_queue</table>
                    </process_queue>
                    
                </entities>
            </space48_forms_resource>
        </models>
        
        <!-- resources -->
        <resources>
            <space48_forms_setup>
                <setup>
                    <module>Space48_Forms</module>
                </setup>
                <connection><use>core_setup</use></connection>
            </space48_forms_setup>
            
            <space48_forms_write>
                <connection><use>core_write</use></connection>
            </space48_forms_write>
            
            <space48_forms_read>
                <connection><use>core_read</use></connection>
            </space48_forms_read>
        </resources>
        
        <!-- blocks -->
        <blocks>
            <space48_forms>
                <class>Space48_Forms_Block</class>
            </space48_forms>
        </blocks>
        
        <!-- helpers -->
        <helpers>
            <space48_forms>
                <class>Space48_Forms_Helper</class>
            </space48_forms>
        </helpers>
        
        
        <!-- templates -->
        <template>
            <email>
                <!-- admin notification email template -->
                <space48_forms_general_admin_notification_email_template>
                    <label>Admin Notification Email Template</label>
                    <file>space48_forms/admin_notification_email.html</file>
                    <type>html</type>
                </space48_forms_general_admin_notification_email_template>
                
                <!-- customer notification email template -->
                <space48_forms_general_customer_notification_email_template>
                    <label>Customer Notification Email Template</label>
                    <file>space48_forms/customer_notification_email.html</file>
                    <type>html</type>
                </space48_forms_general_customer_notification_email_template>
            </email>
        </template>
    </global>
    
    <!-- ADMIN -->
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Space48_Forms_Adminhtml before="Mage_Adminhtml">Space48_Forms_Adminhtml</Space48_Forms_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <!-- ADMINHTML -->
    <adminhtml>
        <!-- layout -->
        <layout>
            <updates>
                <!-- default -->
                <space48_forms_default>
                    <file>space48/forms/forms.default.xml</file>
                </space48_forms_default>
                
                <!-- form -->
                <space48_forms_form>
                    <file>space48/forms/forms.form.xml</file>
                </space48_forms_form>
                
                <!-- field -->
                <space48_forms_field>
                    <file>space48/forms/forms.field.xml</file>
                </space48_forms_field>
                
                <!-- fieldset -->
                <space48_forms_fieldset>
                    <file>space48/forms/forms.fieldset.xml</file>
                </space48_forms_fieldset>
                
                <!-- form result -->
                <space48_forms_form_result>
                    <file>space48/forms/forms.form.result.xml</file>
                </space48_forms_form_result>
            </updates>
        </layout>
    </adminhtml>
    
    <!-- FRONTEND -->
    <frontend>
        <!-- layout -->
        <layout>
            <updates>
                <space48_forms>
                    <file>space48/forms/default.xml</file>
                </space48_forms>
            </updates>
        </layout>
        
        <!-- routers -->
        <routers>
            <space48_forms>
                <use>standard</use>
                <args>
                    <module>Space48_Forms</module>
                    <frontName>forms</frontName>
                </args>
            </space48_forms>
        </routers>
        
        <!-- events -->
        <events>
            <!-- validate text -->
            <space48_forms_result_fieldset_field_validate_text>
                <observers>
                    <space48_forms_result_fieldset_field_validator_text>
                        <class>space48_forms/observer_result_fieldset_field_validator_text</class>
                        <method>validate</method>
                    </space48_forms_result_fieldset_field_validator_text>
                </observers>
            </space48_forms_result_fieldset_field_validate_text>
            
            <!-- validate textarea -->
            <space48_forms_result_fieldset_field_validate_textarea>
                <observers>
                    <space48_forms_result_fieldset_field_validator_text>
                        <class>space48_forms/observer_result_fieldset_field_validator_textarea</class>
                        <method>validate</method>
                    </space48_forms_result_fieldset_field_validator_text>
                </observers>
            </space48_forms_result_fieldset_field_validate_textarea>
            
            <!-- validate select -->
            <space48_forms_result_fieldset_field_validate_select>
                <observers>
                    <space48_forms_result_fieldset_field_validator_select>
                        <class>space48_forms/observer_result_fieldset_field_validator_select</class>
                        <method>validate</method>
                    </space48_forms_result_fieldset_field_validator_select>
                </observers>
            </space48_forms_result_fieldset_field_validate_select>
            
            <!-- validate checkbox -->
            <space48_forms_result_fieldset_field_validate_checkbox>
                <observers>
                    <space48_forms_result_fieldset_field_validator_checkbox>
                        <class>space48_forms/observer_result_fieldset_field_validator_checkbox</class>
                        <method>validate</method>
                    </space48_forms_result_fieldset_field_validator_checkbox>
                </observers>
            </space48_forms_result_fieldset_field_validate_checkbox>
            
            <!-- validate radio -->
            <space48_forms_result_fieldset_field_validate_radio>
                <observers>
                    <space48_forms_result_fieldset_field_validator_radio>
                        <class>space48_forms/observer_result_fieldset_field_validator_radio</class>
                        <method>validate</method>
                    </space48_forms_result_fieldset_field_validator_radio>
                </observers>
            </space48_forms_result_fieldset_field_validate_radio>
            
            <!-- validate file -->
            <space48_forms_result_fieldset_field_validate_file>
                <observers>
                    <space48_forms_result_fieldset_field_validator_file>
                        <class>space48_forms/observer_result_fieldset_field_validator_file</class>
                        <method>validate</method>
                    </space48_forms_result_fieldset_field_validator_file>
                </observers>
            </space48_forms_result_fieldset_field_validate_file>
        </events>
    </frontend>
    
    <!-- DEFAULT -->
    <default>
        <space48_forms>
            <general>
                <enabled>1</enabled>
            </general>
        </space48_forms>
    </default>
</config>
