.space48-form {
    
    // form title
    .form-title {
        
    }
    
    // form description
    .form-description {
        
    }
    
    // form instructions
    .form-instructions {
        padding:1em;
        background:#eee;
        margin:0 0 1.5em 0;
        border:1px solid #ddd;
        color:#444;
        
        *:last-child {
            margin-bottom:0;
        }
    }
    
    // before form content
    .before-form-content {
        
    }
    
    // after form content
    .after-form-content {
        
    }
    
    // fieldsets container
    .form-fieldsets {
        margin:20px 0 0 0;
        list-style:none;
        border-bottom:1px solid #ddd;
        
        // fieldset
        .form-fieldset {
            margin:0;
            padding:0;
            background:#fff;
            border:1px solid #ddd;
            border-bottom:0;
            
            // fieldset title
            .fieldset-title {
                padding:20px;
                margin:0;
                font-size:20px;
                background:#eee;
            }
            
            // form description
            .fieldset-description {
                margin:20px;
            }
            
            // form instructions
            .form-instructions {
                padding:20px;
                margin:20px;
            }
            
            // before form content
            .before-fields-content {
                margin:20px;
            }
            
            // after form content
            .after-fields-content {
                padding:0 20px 20px 20px;
            }
            
            // fieldset fields container
            .fieldset-fields {
                list-style:none;
                padding:0 20px 20px 20px;
                margin:20px 0 0 0;
                
                // fieldset field
                .fieldset-field {
                    margin:0 0 20px 0;
                    padding:0;
                    
                    &:last-child {
                        margin-bottom: 0;
                    }
                    
                    &.has-errors {
                        padding:20px;
                        background-color:#ffe5e5;
                        border:1px solid #ffcccc;
                    }
                    
                    // field body
                    .field-head {
                        margin-bottom: 10px;
                        
                        // fieldset label
                        label {
                            font-size: 14px;
                            
                            // required
                            &.required {
                                
                            }
                            
                            // field hint
                            .field-hint {
                                position: relative;
                                
                                a:hover + p {
                                    display: block;
                                }
                                
                                p {
                                    display: none;
                                    position: absolute;
                                    width: 200px;
                                    height: auto;
                                    padding:1em;
                                    border:1px solid silver;
                                    z-index: 1000;
                                    background: #fff;
                                    border-radius:4px;
                                    left:110%;
                                    top:0;
                                    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
                                }
                            }
                        }
                    }
                    
                    // field head
                    .field-body {
                        margin:0 0 0 20px;
                        
                        // input container
                        .input-box {
                            margin:10px 0;
                            
                            // input
                            input {
                                
                            }
                            
                            // select
                            select {
                                
                            }
                            
                            // textarea
                            textarea {
                                
                            }
                        }
                        
                        .control {
                            margin:0 0 10px 0;
                            
                            .input-box {
                                margin:0;
                            }
                        }
                        
                        // field comment
                        .field-comment {
                            
                            p {
                                margin:0 0 0 0;
                                padding:4px 8px;
                                border-left:2px solid #2e8ab8;
                                background-color:none;
                                display: inline-block;
                                font-size: 13px;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                -webkit-user-select: none;
                                -o-user-select: none;
                                user-select: none;
                            }
                        }
                    }
                }
            }
        }
    }
    
    // buttons set
    .buttons-set {
        margin:0;
        padding:20px;
        background:#eee;
        border:1px solid #ddd;
        margin-bottom: 20px;
        
        .back-button {
            margin:0;
            float:left;
            background:#aaa;
            
            &:hover {
                background:#888;
            }
        }
    }
    
    // error messages
    .form-fieldsets .form-fieldset .fieldset-fields .errors {
        margin:0 0 10px 0;
        padding:0;
        
        li {
            list-style:none;
            margin:0;
            padding:0;
            background:none;
            border:none;
            
            &:before {
                display:none;
            }
            
            span {
                font-size:12px;
                color:red;
            }
        }
    }
    
    // text fieldset
    .form-fieldsets .form-fieldset .fieldset-fields .fieldset-field-text {}
    
    // select fieldset
    .form-fieldsets .form-fieldset .fieldset-fields .fieldset-field-select {}
    
    // textarea fieldset
    .form-fieldsets .form-fieldset .fieldset-fields .fieldset-field-textarea {}
    
    // file fieldset
    .form-fieldsets .form-fieldset .fieldset-fields .fieldset-field-file {}
    
    // checkbox fieldset
    .form-fieldsets .form-fieldset .fieldset-fields .fieldset-field-checkbox {}
    
    // radio fieldset
    .form-fieldsets .form-fieldset .fieldset-fields .fieldset-field-radio {
        
        .field-body .control {
            margin:0;
        }
    }
}
